@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-primary: #0A6AD3;
  --color-secondary: #0853A4;
  --color-muted: #A6B2C3;
  --color-success: #63ED56;
  --color-warning: #F59E0B;
  --color-danger: #DE0B12;
  --color-background: #F5F5F5;
  --color-info: #3B82F6;
}
